/* Bootstrap Hack */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* Universal */
body {
  background-color: #ededed;
  color: #3d3d3d;
}

nav {
  margin-top: 14px;
}

.brand {
  font-size: 3em;
  margin-left: 44px;
}

.user-nav {
  margin: 12px 44px 0 0;
  float: right;
}

#master {
  padding: 0 30px;
}

/* Index */
.welcome h1 {
  font-size: 6em;
  color: #c5c5c5;
}

.form {
  background-color: #fff;
  padding: 20px;
}

.form input[type=text], .form input[type=password] {
  width: 100%;
}

/* Form */
.input-box {
  height: 50px;
  margin: 6px 0;
  padding: 0 20px;
  font-size: 1.2em;
}

.button {
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 1.2em;
}

/* Posts */
.menu {
  width: 100%;
  overflow: auto;
  padding-bottom: 20px;
}

.post-item {
  min-height: 80px;
  border-top: 1px solid #d3d3d3;
  padding: 14px 0;
}

.post-item h4 {
  margin: 0 0 10px 0;
  padding: 0;
}

.post-item .time {
  font-size: 0.9em;
  font-style: italic;
}

.pagination {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

/* New Post */
.new-post {
  width: 50%;
  margin: 0 auto;
}

.content-box {
  width: 100%;
  min-height: 200px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 1.2em;
}