{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-6">
      <div class="welcome">
        <h1>"Welcome to Flitter"</h1>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form">
        <form action="{{ url_for('signin') }}" method=post>
          {{ signinform.username(placeholder="Username", class="input-box") }}
          {{ signinform.password(placeholder="Password", class="input-box") }}
          {{ signinform.submit(class="btn button") }}
        </form>
      </div>
      <div class="form">
        <form action="{{ url_for('signup') }}" method=post>
          {{ signupform.fullname(placeholder="Full Name", class="input-box") }}
          {{ signupform.username(placeholder="Username", class="input-box") }}
          {{ signupform.password(placeholder="Password", class="input-box") }}
          {{ signupform.submit(class="btn button") }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}