{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-6">
      <h1>"Welcome to Flitter"</h1>
    </div>
    <div class="col-md-6">
      <div class="form login">
        <form action="{{ url_for('signin') }}" method=post>
          {{ signinform.email.label }}
          {{ signinform.email }}
          <br>

          {{ signinform.password.label }}
          {{ signinform.password }}
          <br>

          {{ signinform.submit }}
        </form>
      </div>
      <div class="form signup">
        <form action="{{ url_for('signup') }}" method=post>

          {{ signupform.fullname.label }}
          {{ signupform.fullname }}
          <br>

          {{ signupform.email.label }}
          {{ signupform.email }}
          <br>

          {{ signupform.password.label }}
          {{ signupform.password }}
          <br>

          {{ signupform.submit }}
        </form>
    </div>
  </div>
{% endblock %}