<html>
  <head>
    {% if title %}
    <title>{{ title }} - Flitter</title>
    {% else %}
    <title>Flitter</title>
    {% endif %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="row">
      <div class="col-md-12">
        <header>
          <nav>
            <a class="brand" href="/">Flitter</a>
            <div class="user-nav">
              {% if 'username' in session %}
                <h4>{{ user.fullname }} ( <a href="{{ url_for('logout') }}">Log out</a> )</h4>
              {% endif %}
            </div>
          </nav>
        </header>
        <div id="master">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>