{% extends "layout.html" %}
{% block content %}
    <div class="row">
      <div class="col-md-12">
        {% if 'username' in session and user.username == session['username'] %}
          <div class="menu">
            <a href="{{ url_for('new_post') }}" class="btn btn-primary pull-right">Create New Post</a>
          </div>
        {% endif %}
        {% for post in posts %}
        <div class="post-item">
          <div class="row">
            <div class="col-md-3">
              <h4>{{ post.author.username }}</h4><span class="time">{{ post.timestamp }}</span>
            </div>
            <div class="col-md-9">
              <p>{{ post.content }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}